<%- include('../shared/header_usuario') %>

<div class="novaSolicitacao">
  <a href="/solicitar" class="button-header" type="submit">
    Nova Solicitação
  </a> 
</div>

<section id="homeUser">
  <div class="row" >
    <div class="col-6">
      <div class="row">
        <div id="perfil" class="col m-3 caixa">
          <div class="row">
            <div class="col-6">
              <img src="/img/fotoPerfil.png" alt=""></img>
            </div>
            <input type="hidden" id="id" value="<%= usuario.id %>" >
            <div class="col-6" style="display: flex; align-content: center;">
              <h2 id="nome"> <%= usuario.nome %></h2>
              <a onclick="editarPerfil()">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>            
            </div>
          </div>
        </div>
        <div id="endereco" class="col m-3 caixa">          
          <div>
            <h2>Endereco cadastrado:</h2>
            <a onclick="editarEndereco()">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>            
          </div>
          <span>
            <span class="mt-3" id="rua"><%= usuario.endereco %></span>, <span id="numero"><%= usuario.numero %></span> <span id="cep"><%= usuario.cep %></span> - <span id="cidade"><%= usuario.cidade %></span>
          </span>                    
        </div>
      </div>
      <div class="row">
        <div id="dadosPessoais" class="col m-3 caixa">
          <div class="row">
            <h2>Dados Pessoais:</h2>
            <a onclick="editarDadosPessoais()">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>            
          </div> 
          <div>
            <p>Idade:</p><span id="idade"><%= usuario.data_nascimento %></span>   
          </div> 
          <div>
            <p>CPF:</p><span id="cpf"><%= usuario.cpf %></span>    
          </div>  
          <div>
            <p>Celular:</p><span id="celular"><%= usuario.telefone %></span>   
          </div>   
          <div>
            <p>Email:</p><span id="email"><%= usuario.email %></span>
          </div>    
        </div>     
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div id="solPendentes" class="col m-3 caixa">
          <h2>Solicitacoes Pendentes:</h2>
          <% for(var i = 0; i < usuario.solicitacoes.length; i++){ 
            var solicitacao = usuario.solicitacoes[i];
            if(solicitacao.status == "pendente"){           
          %>
            <p>#<%= solicitacao.id %></p>
          <% } else { }}%> 
        </div>     
      </div>
      <div class="row">
        <div id="solConcluidas" class="col m-3 caixa">
          <h2>Solicitacoes Concluidas:</h2>
          <% for(var i = 0; i < usuario.solicitacoes.length; i++){ 
            var solicitacao = usuario.solicitacoes[i];
            if(solicitacao.status == "concluidas"){           
          %>
            <p>#<%= solicitacao.id %></p>
          <% } else { }}%> 
          <!-- <p>#153030</p>           -->
        </div>     
      </div>
    </div>
  </div>      
</section>

<!-- Modal Editar Perfil -->
<div id="modal-perfil" class="modal">
  <div class="box">
    <div class="close">
      <a onclick="closePerfil()">
        <img src="/img/bolaFechar.png" alt="">
      </a> 
    </div> 
    <div class="modal-conteudo">
      <div class="">
        <label for="">Nome Atual: </label>
        <input type="text" class="input" name="nomeAtual" id="nomeAtual" placeholder="" >
      </div>
      <div class="">
        <label for="">Novo nome: </label>
        <input type="email" class="input" name="nome" placeholder="Preencher..." id="nome">
      </div>
      <div class="botao">
        <button type="button" class="btn-alterar" onclick="alterarPerfil()">ALTERAR</button>
        <button type="button" class="btn-cancelar" onclick="closePerfil()">CANCELAR</button>  
      </div> 
    </div>   
  </div>
</div>

<!-- Modal Alterar dados-pessoais" -->
<div id="modal-dados-pessoais" class="modal">
  <div class="box-dados-pessoais">
    <div class="close">
      <a onclick="closeDadosPessoais()">
        <img src="/img/bolaFechar.png" alt="">
      </a> 
    </div> 
    <div class="modal-conteudo-dados-pessoais">
      <div class="row" style="margin-bottom: 50px;">
        <div class="col">
          <div class="">
            <label for="">Data de Nascimento atual: </label>
            <input type="text" class="input" name="dataNascimentoAtual" id="idadeAtual">
          </div>
          <div class="">
            <label for="">CPF atual: </label>
            <input type="text" class="input" name="cpfAtual" id="cpfAtual">
          </div>
          <div class="">
            <label for="">Celular atual: </label>
            <input type="text" class="input" name="celularAtual" id="celularAtual">
          </div>
          <div class="">
            <label for="">E-mail atual: </label>
            <input type="email" class="input" name="emailAtual" id="emailAtual">
          </div>
        </div>
        <div class="col">
          <div class="">
            <label for="">Nova Data de Nascimento: </label>
            <input type="text" class="input" name="dataNascimento" placeholder="Preencher..." id="idade">
          </div>
          <div class="">
            <label for="">Novo CPF: </label>
            <input type="text" class="input" name="cpf" placeholder="Preencher..." id="cpf">
          </div>
          <div class="">
            <label for="">Novo Celular: </label>
            <input type="text" class="input" name="celular" placeholder="Preencher..." id="celular">
          </div>
          <div class="">
            <label for="">Novo E-mail: </label>
            <input type="email" class="input" name="email" placeholder="Preencher..." id="email">
          </div>
        </div>
      </div>
      <div class="botao">
        <button type="button" class="btn-alterar" onclick="alterarDadosPessoais()">ALTERAR</button>
        <button type="button" class="btn-cancelar" onclick="closeDadosPessoais()">CANCELAR</button>  
      </div> 
    </div>   
  </div>
</div>

<!-- Modal Alterar Endereco" -->
<div id="modal-endereco" class="modal">
  <div class="box-endereco">
    <div class="close">
      <a onclick="closeEndereco()">
        <img src="/img/bolaFechar.png" alt="">
      </a> 
    </div> 
    <div class="modal-conteudo-endereco">
      <div class="row" style="margin-bottom: 50px;">
        <div class="col">
          <div class="">
            <label for="">Endereco atual: </label>
            <input type="text" class="input" name="enderecoAtual" id="enderecoAtual" placeholder="">
          </div>
          <div class="">
            <label for="">Numero atual: </label>
            <input type="text" class="input" name="numeroAtual" id="numeroAtual" placeholder="">
          </div>
          <div class="">
            <label for="">CEP atual: </label>
            <input type="text" class="input" name="cepAtual" id="cepAtual" placeholder="">
          </div>          
          <div class="">
            <label for="">Cidade atual: </label>
            <input type="text" class="input" name="cidadeAtual" id="cidadeAtual" placeholder="">
          </div>          
        </div>
        <div class="col">
          <div class="">
            <label for="">Novo Endereco : </label>
            <input type="text" class="input" name="endereco" placeholder="Preeencher..." id="rua">
          </div>
          <div class="">
            <label for="">Novo Numero : </label>
            <input type="text" class="input" name="numero" placeholder="Preeencher..." id="numero">
          </div>
          <div class="">
            <label for="">Novo CEP : </label>
            <input type="text" class="input" name="cep" placeholder="Preeencher..." id="cep">
          </div>          
          <div class="">
            <label for="">Nova Cidade : </label>
            <input type="text" class="input" name="cidade" placeholder="Preeencher..." id="cidade">
          </div>          
        </div>
      </div>
      <div class="botao">
        <button type="button" class="btn-alterar" onclick="alterarEndereco()">ALTERAR</button>
        <button type="button" class="btn-cancelar" onclick="closeEndereco()">CANCELAR</button>  
      </div> 
    </div>   
  </div>
</div>

<%- include('../shared/footer') %>